@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --main-theme-color: #13a4dc;
    --gray-background: #e1e8f0;
    --box-shadow: 2px 2px 5px black;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body > #content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 2fr 8fr;
    grid-template-areas: 
    "dashboard nav"
    "dashboard main";
}

body > #content > #dashboard {
    display: grid;
    background-color: var(--main-theme-color);
    grid-area: dashboard;
    height: 100%;
    width: 100%;
    grid-template-rows: 4fr 2fr 4fr;
    align-items: center;
}

body > #content > #dashboard > #dashboard-upper-section {
    display: grid;
    grid-template-rows: 2fr repeat(6, 1fr);
}

body > #content > #dashboard > #dashboard-upper-section > #icon-container {
    width: 100%;
    height: 80px;
}

body > #content > #dashboard > #dashboard-upper-section > #icon-container > img {
    width: 36px;
    height: 36px;
}

body > #content > #dashboard > #dashboard-upper-section > #icon-container > p {
    font-size: 24px;
}

body > #content > #dashboard > div > div {
    width: 100%;
    height: 40px;
    position: relative;
    left: 16px;
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 8fr;
}

body > #content > #dashboard > div > div > p {
    font-size: 18px;
    font-weight: 900;
    color: white;
    margin: 0px;
}

body > #content > #dashboard > div > div > img {
    width: 24px;
    height: 24px;
}

body > #content > #nav {
    height: 100%;
    grid-area: nav;
    display: grid;
    grid-template-rows: 0.8fr 1fr;
    grid-template-areas: 
    "nav-upper-section"
    "nav-lower-section";
    box-shadow: var(--box-shadow);
}

body > #content > #nav > #nav-upper-section {
    display: grid;
    grid-template-columns: 7fr 3fr;
    height: 100%;
}

body > #content > #nav > #nav-upper-section > #nav-upper-section-left-column {
    position: relative;
    left: 48px;
    display: grid;
    align-items: center;
    grid-template-columns: 24px 1fr;
    gap: 16px;
}

body > #content > #nav > #nav-upper-section > #nav-upper-section-left-column > img {
    width: 24px;
    height: 24px;
}

body > #content > #nav > #nav-upper-section > #nav-upper-section-left-column > input {
    width: 80%;
    height: 30%;
    border-radius: 16px;
    border-style: none;
    background-color: var(--gray-background);
}

body > #content > #nav > #nav-upper-section > #nav-upper-section-right-column {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 3fr;
}

body > #content > #nav > #nav-upper-section > #nav-upper-section-right-column > #notification {
    width: 24px;
    height: 24px;
}

body > #content > #nav > #nav-upper-section > #nav-upper-section-right-column > #profile-picture-1 {
    width: 48px;
    height: 48px;
    border-radius: 32px;
}

body > #content > #nav > #nav-upper-section > #nav-upper-section-right-column > p {
    font-weight: 900;
}

body > #content > #nav > #nav-lower-section {
    display: grid;
    align-items: center;
    grid-template-columns: 4fr 2fr 4fr;
    height: 100%;
}

body > #content > #nav > #nav-lower-section > #nav-lower-section-left-column {
    position: relative;
    left: 48px;
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 25.6px 38.4px;
    grid-template-areas: 
    "profile-picture greeting-p1"
    "profile-picture username-p2";
    align-items: center;
}

body > #content > #nav > #nav-lower-section > #nav-lower-section-left-column > #profile-picture-2 {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    grid-area: profile-picture;
}

body > #content > #nav > #nav-lower-section > #nav-lower-section-left-column > p {
    margin: 0;
    font-weight: 900;
}

body > #content > #nav > #nav-lower-section > #nav-lower-section-left-column > #greeting-p1 {
    font-size: 14px;
    grid-area: greeting-p1;
}

body > #content > #nav > #nav-lower-section > #nav-lower-section-left-column > #username-p2 {
    font-size: 18px;
    grid-area: username-p2;
}

body > #content > #nav > #nav-lower-section > #nav-lower-section-right-column {
    position: relative;
    right: 24px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

body > #content > #nav > #nav-lower-section > #nav-lower-section-right-column > button {
    font-size: 18px;
    padding: 8px 32px 8px 32px;
    border-radius: 18px;
    border: none;
    background-color: var(--main-theme-color);
    color: white;
}

body > #content > main {
    position: relative;
    top: 3px;
    background-color: var(--gray-background);
    height: 100%;
    grid-area: main;
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 5fr 5fr;
    grid-template-areas: 
    "project-container announcement-section"
    "project-container trending-section";
}

body > #content > main > #project-container {
    height: 100%;
    position: relative;
    left: 20px;
    bottom: 24px;
    grid-area: project-container;
    display: grid;
    align-items: baseline;
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
    grid-template-rows: 60px 1fr 1fr 1fr;
    grid-template-areas: 
    "title blank"
    "project-1 project-2"
    "project-3 project-4"
    "project-5 project-6";
    gap: 24px;
}

body > #content > main > #project-container > h2 {
    font-size: 20px;
    position: relative;
    top: 30px;
    grid-area: title;
    font-size: 20px;
    font-weight: 900;
    margin: 0;
    align-self: center;
}

body > #content > main > #project-container > div {
    background-color: white;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    height: 100%;
    padding: 16px 16px 16px 16px;
    display: grid;
    grid-template-rows: 2fr 6fr 2fr;
    gap: 4px;
}

body > #content > main > #project-container > div > h3 {
    align-self: end;
    font-size: 16px;
    margin: 0;
}

body > #content > main > #project-container > div > p {
    margin: 0;
}

body > #content > main > #project-container > div > div {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 26px;
}

body > #content > main > #project-container > div > div > img {
    width: 24px;
    height: 24px;
}

body > #content > main > #project-container > .blank {
    border: none;
    grid-area: blank;
    opacity: 0;
}

body > #content > main > #project-container > #project-1 {
    grid-area: project-1;
}

body > #content > main > #project-container > #project-2 {
    grid-area: project-2;
}

body > #content > main > #project-container > #project-3 {
    grid-area: project-3;
}

body > #content > main > #project-container > #project-4 {
    grid-area: project-4;
}

body > #content > main > #project-container > #project-5 {
    grid-area: project-5;
}

body > #content > main > #project-container > #project-6 {
    grid-area: project-6;
}

body > #content > main > #announcement-section {
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-area: announcement-section;
}

body > #content > main > #announcement-section > h2 {
    margin: 0;
    align-self: center;
    font-size: 20px;
}

body > #content > main > #announcement-section > div {
    margin: 0px 32px 0px 0px;
    padding: 32px 32px 32px 32px;
    background-color: white;
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    display: grid;
    grid-template-rows: 1fr 1px 1fr 1px 1fr;
    gap: 16px;
}

body > #content > main > #announcement-section > div > .announcement-card {
    display: grid;
    gap: 8px;
}

body > #content > main > #announcement-section > div > .announcement-card > h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    align-self: end;
}

body > #content > main > #announcement-section > div > .announcement-card > p {
    margin: 0;
    font-size: 14px;
    align-self: baseline;
}

body > #content > main > #announcement-section > div > .line-break {
    width: 100%;
    border: 1px solid gray;
}

body > #content > main > #trending-section {
    
}

body > #content > main > #trending-section > h2 {
    font-size: 20px;
    margin: 0;
    align-self: center;
}