@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    max-width: 100vw;
    max-height: 100vh;
    margin: 0px;
}

body > #content {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 2fr 8fr;
    grid-template-areas: 
    "dashboard nav"
    "dashboard right-section";
}

body > #content > #dashboard {
    display: grid;
    background-color: #13a4dc;
    grid-area: dashboard;
    height: 100%;
    width: 100%;
    grid-template-rows: 4fr 2fr 4fr;
    align-items: center;
}

body > #content > #dashboard > #dashboard-upper-section {
    display: grid;
    grid-template-rows: 2fr repeat(6, 1fr);
}

body > #content > #dashboard > #dashboard-upper-section > #icon-container {
    width: 100%;
    height: 80px;
}

body > #content > #dashboard > #dashboard-upper-section > #icon-container > img {
    width: 36px;
    height: 36px;
}

body > #content > #dashboard > #dashboard-upper-section > #icon-container > p {
    font-size: 24px;
}

body > #content > #dashboard > div > div {
    width: 100%;
    height: 40px;
    position: relative;
    left: 16px;
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 8fr;
}

body > #content > #dashboard > div > div > p {
    font-size: 18px;
    font-weight: 900;
    color: white;
    margin: 0px;
}

body > #content > #dashboard > div > div > img {
    width: 24px;
    height: 24px;
}

body > #content > #right-section {
    height: 100%;
    grid-area: right-section;
}

body > #content > #nav {
    height: 100%;
    grid-area: nav;
    display: grid;
    grid-template-rows: 0.8fr 1fr;
    grid-template-areas: 
    "nav-upper-section"
    "nav-lower-section";
}

body > #content > #nav > #nav-upper-section {
    display: grid;
    grid-template-columns: 6fr 4fr;
}

body > #content > #nav > #nav-upper-section >

body > #content > #nav > #nav-lower-section {

}